Client/MP3_MetadataEditor-Client/MP3_MetadataEditor-Client/Connected Services/MP3MetadataEditorService/MP3MetadataEditorService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MP3_MetadataEditor_RestServiceLibrary.Album_Art_Service" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MP3_MetadataEditor_RestServiceLibrary.Album_Art_Service" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/api/MP3MetadataEditorService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
  <xs:complexType name="MP3MetadataEditorServiceRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Body" nillable="true" type="tns:Body" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MP3MetadataEditorServiceRequest" nillable="true" type="tns:MP3MetadataEditorServiceRequest" />
  <xs:complexType name="Body">
    <xs:sequence>
      <xs:element minOccurs="0" name="Album" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AlbumArt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Artist" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Comments" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Composer" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Genre" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Lyrics" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SongTitle" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TrackNumber" nillable="true" type="xs:unsignedInt" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Body" nillable="true" type="tns:Body" />
  <xs:complexType name="MP3MetadataEditorServiceResponse">
    <xs:sequence>
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/System.Net" minOccurs="0" name="StatusCode" type="q1:HttpStatusCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MP3MetadataEditorServiceResponse" nillable="true" type="tns:MP3MetadataEditorServiceResponse" />
</xs:schema>