Client/MP3_MetadataEditor-Client/MP3_MetadataEditor-Client/Connected Services/MP3MetadataEditorService/MP3MetadataEditorService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MP3MetadataEditorService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8733/api/MP3MetadataEditorService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8733/api/MP3MetadataEditorService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8733/api/MP3MetadataEditorService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MP3_MetadataEditor_RestServiceLibrary.Album_Art_Service" />
      <xsd:import schemaLocation="http://localhost:8733/api/MP3MetadataEditorService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/System.Net" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMP3MetadataEditorService_AddMP3_InputMessage">
    <wsdl:part name="parameters" element="tns:AddMP3" />
  </wsdl:message>
  <wsdl:message name="IMP3MetadataEditorService_AddMP3_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddMP3Response" />
  </wsdl:message>
  <wsdl:message name="IMP3MetadataEditorService_GetAlbumArt_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumArt" />
  </wsdl:message>
  <wsdl:message name="IMP3MetadataEditorService_GetAlbumArt_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAlbumArtResponse" />
  </wsdl:message>
  <wsdl:portType name="IMP3MetadataEditorService">
    <wsdl:operation name="AddMP3">
      <wsdl:input wsaw:Action="http://tempuri.org/IMP3MetadataEditorService/AddMP3" message="tns:IMP3MetadataEditorService_AddMP3_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMP3MetadataEditorService/AddMP3Response" message="tns:IMP3MetadataEditorService_AddMP3_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAlbumArt">
      <wsdl:input wsaw:Action="http://tempuri.org/IMP3MetadataEditorService/GetAlbumArt" message="tns:IMP3MetadataEditorService_GetAlbumArt_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMP3MetadataEditorService/GetAlbumArtResponse" message="tns:IMP3MetadataEditorService_GetAlbumArt_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="MP3MetadataEditorService" />
</wsdl:definitions>