Client/MP3_MetadataEditor-Client/Connected Services/MP3MetadataEditorService/Mp3MetadataEditorService42.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:8733/api/Mp3MP3EditorService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MP3_MP3Editor_RestServiceLibrary.Service_Layer.MP3MP3Editor_Service.Client_Communication_Objects.RequestObjects" />
  <xs:import schemaLocation="http://localhost:8733/api/Mp3MP3EditorService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/MP3_MP3Editor_RestServiceLibrary.Service_Layer.MP3MP3Editor_Service.Client_Communication_Objects.ResponseObjects" />
  <xs:element name="AddMP3">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MP3_MP3Editor_RestServiceLibrary.Service_Layer.MP3MP3Editor_Service.Client_Communication_Objects.RequestObjects" minOccurs="0" name="request" nillable="true" type="q1:Mp3MP3EditorServiceRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddMP3Response">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/MP3_MP3Editor_RestServiceLibrary.Service_Layer.MP3MP3Editor_Service.Client_Communication_Objects.ResponseObjects" minOccurs="0" name="AddMP3Result" nillable="true" type="q2:Mp3MP3EditorServiceResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumArt">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="artist" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="song" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAlbumArtResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetAlbumArtResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>